In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df_index = pd.read_csv('multiple_linear_reg.csv')

In [4]:
df_index.head()

   Unnamed: 0  year  interest_rate  unemployment_rate  index_price
0           0  2017             12                5.3         1464
1           1  2017             11                5.3         1394
2           2  2017             10                5.3         1357
3           3  2017              9                5.3         1293
4           4  2017              8                5.4         1256